* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}
body {
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  height: 95vh;
}
.container {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.timeCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  color: white;
}
.timeCard * {
  margin: 2px;
  padding: 10px;
}
h1 {
  font-size: 100px;
}
h2 {
  font-size: 20px;
}
.spacer {
  width: 1px;
  height: 10vh;
  background-color: rgb(92, 92, 92);
}
.leave {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
label {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.leave input {
  background-color: rgb(24, 24, 24);
  color: white;
  border: none;
  text-align: center;
  font-size: 40px;
  width: 50px;
}
.leave input:focus {
  outline: none;
}
.bottomSpacer {
  background-color: rgb(92, 92, 92);
  width: 50vw;
  height: 1px;
  margin: 20vh;
}
#ball {
  background-color: white;
  height: 1px;
  width: 10px;
  transition: 0.5s;
}

.move {
  transform: translateX(50vw);
}
@media screen and (max-width: 480px) {
  body {
    justify-content: space-between;
  }
  h1 {
    font-size: 40px;
  }
  .timeCard {
    max-width: 50px;
  }
  .container {
    flex-direction: column;
  }
  .spacer {
    width: 50vw;
    height: 1px;
    background-color: rgb(92, 92, 92);
  }
  .bottomSpacer {
    margin: 5vh;
  }
}
